<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Exchange Compare</title>
        <link rel="stylesheet" href="/css/custom.css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    </head>

    <body>
    <div class="mainContainer">
        <div class="exchangeContainer">
            <div class="exchangeTitle"><h3>The Lowest Exchange Rate</h3></div>
            <table class="table table-hover exchangeTable">
                <thead>
                <tr>
                    <th>EUR</th>
                    <th>USD</th>
                    <th>GBP</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ eur }}</td>
                    <td>{{ usd }}</td>
                    <td>{{ gbp }}</td>
                </tr>
        </div>
            </tbody>
        </table>
    </div>
    </body>
</html>